# Byte compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store

# Pytest cache
.pytest_cache/
ai110-module3show-musicrecommendersimulation-starter/
ai110-module4tinker-docubot-starter/
